---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pageTitle = "About me";

const identity = {
    firstName: "Joshua",
    country: "Texas",
    occupation: "Homeless",
    hobbies: ["coding", "chess", "piano", "SHRIMP GAMES"],
};

const skills = ["C++", "Python", "HTML/CSS/JS", "Frontend: React/Next", "Backend: Node/Flask", "Databases: Postgres/MongoDB", "Linux"];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";

const finished = false;

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <style define:vars={{skillColor, fontWeight, textCase}}>
        h1 {
          color: purple;
          font-size: 4rem;
        }
        .skill {
          color: var(--skillColor);
          font-weight: var(--fontWeight);
          text-transform: var(--textCase);
        }
      </style>
  </head>
  <body>
    <Header/>
    <h1>{pageTitle}</h1>

    <div>
        <p>Here are a few facts about me:</p>
            <ul>
                 <li>My name is {identity.firstName}</li>
                 <li>I live in {identity.country} and I'll be interning as a Software Engineer at Google</li>
                 <li>Some hobbies of mine include: {identity.hobbies[0]}, {identity.hobbies[1]}, {identity.hobbies[2]}, {identity.hobbies[3]}</li>
            </ul>
        <p>My skills include but aren't limited to:</p>
            <ul>
                {skills.map((skill) => <li class = "skill">{skill}</li>)}
            </ul>
        {finished && <p>I'm done with this tutorial</p>}
    </div>
    <Footer/>
    <script>
		import "../scripts/menu.js"
	</script>
  </body>
</html>